# Ignore NeoVim session files
/nvim-sessions/
lazy-lock.json

# Ignore tmux plugins
/tmux/plugins/

# Ignore installation logs and backup files
install_log.txt
*.bak
kitty/current-theme.conf
kitty/themes/noctalia.conf
niri/noctalia.kdl
fish/fish_variables
